* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, 
body {

	font-size: 18px;
	overflow: visible;
	margin-left: 40px;
	margin-right: 40px;

}


/*header: Logo and Brandname*/
#header {

	background-color: white;
	font-family: Helvetica;
}

.header-container {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 44px;
	width: 100%;
	margin: auto;
}

.logo-brandname {

	margin-left: 24px;
	margin-top: 20px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}

.logo img {

	height: 32px;
	width: auto;
}

.brandname {

	height: 32px;
	width: auto;
	margin-top: 5px;
}


.brandname strong {

	font-weight: bold;
	color: gray;
}

.brandname a {

	color: silver;
	font-size: 22px;
	text-decoration: none;
}

	/*Header: Menu*/

.header-menu {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 24px;
	margin-top: 25px;

}

.online,
.companies,
.login {

	margin-left: 16px;
}

.campus a, 
.online a,
.companies a,
.login a {

	color: black;
	text-decoration: none;
}



	/*Header Mobile*/

.logo-icon,
.campus-icon,
.online-icon,
.login-icon {

	display: none;
}



/*Banner: Image*/

#banner {

	background-color: #d8d8d8;
}

.banner-container {

	margin: 32px 24px auto 24px;
	display: flex;
	flex-direction: row;


}

.banner-container img {

	width: 55%;
	height: 450px;
	margin-top: 32px;
	margin-bottom: 32px;
}

.banner-info-container {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 64px;
	font-family: sans-serif;
	width: 26%;

}

.banner-head {

	font-size: 32px;
	font-weight: bold;
}

.banner-p {

	font-size: 20px;
	text-decoration: none;
}

.btn-start {

	font-size: 20px;
	background-color: gray;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	padding-top: 8px;
	padding-bottom: 8px;
}



/*Introduction Section*/

#introduction {

	background-color: #eff2f4;

}

.intro-container {

	margin-left: 24px;
	display: flex;
	flex-direction: row;


}


		/*Left Container*/


.intro-left-container {

	display: flex;
	flex-direction: column;
	width: 80%;
	padding-top: 32px;
	padding-bottom: 32px;
}

.intro-left-container img {

	width: 100%;

}

.intro-left-text {

	padding-top: 32px;
}

.intro-title {

	padding-bottom: 24px;
	font-weight: bold;
	font-size: 30px;
}

.intro-left-text p {

	font-size: 16px;

}

.intro-quote-source {

	font-size: 8px;
}


		/*Right Container*/
		/*ISSUE: I have a issue with making
		more space in between the image and 
		the text; I cannot use 
		justify-content: space-between 
		to seperate the image and the text. 
		I do not know where do I type incorrectly*/


.intro-right-container {

	margin-left: 24px;
	width: 60%;
	border-left: 1px solid #afafaf;
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
}

.orientation-box {

	display: flex;
	flex-direction: row;
	padding: 16px 16px 16px 16px;
	height: 150px;
}


.our-campus-box {

	display: flex;
	flex-direction: row;
	padding: 16px 16px 16px 16px;
	height: 150px;

}

.guest-lecture-box {

	display: flex;
	flex-direction: row;
	padding: 16px 16px 16px 16px;
	height: 150px;
}

.orientation-box img {

	width: 30%;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;

}

.orientation-date {

	width: 65%;
}

.our-campus-box img {

	width: 30%;
	margin-top: 0px;
	margin-bottom: 0px;
}


.guest-lecture-box img {

	width: 30%;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}


.orientation-box:hover,
.our-campus-box:hover,
.guest-lecture-box:hover {

	background-color: gray;
}


/*Start Learning Section*/

#learning-list {

	background-color: #ededed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 32px 155px 32px 155px;
}

.learning-list-header {

	display: flex;
	justify-content: center;
	padding-bottom: 32px;
}

.section-title {

	font-size: 30px;
	font-weight: bold;

}/*same for thesis exhibits title*/

.learning-list-container {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	
	/*learning list TOP container*/


.learning-list-top {

	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.software-engineer img,
.computer-art img,
.design img {

	width: 235px;
	margin: auto;


}

.software-text {

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 235px;
}

.computer-art {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 40px;

}

.computer-text {

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 235px;
}


.design {

	margin-left: 40px;
}


.design-text {

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 235px;
}



	/*learning list BOTTOM container*/


.learning-list-bottom {

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 32px;
}

.data img,
.business img,
.marketing img {

	width: 235px;
	margin: auto;


}

.data-text {

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 235px;
}

.business {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 40px;

}

.business-text {

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 235px;
}


.marketing {

	margin-left: 40px;
}


.marketing-text {

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 235px;
}


.learning-list-icons {

	display: none;
}





/*Thesis Exhibits Section*/

#exhibits {

	background-color: #eff2f4;
	display: flex;
	flex-direction: column;
	justify-content: center;

}


.exhibits-header {

	display: flex;
	justify-content: center;
	padding-top: 32px;
	padding-bottom: 32px;
}


.exhibits-container {

	margin-left: 24px;
	display: flex;
	flex-direction: row;


}


		/*Left Container*/


.exhibits-left-container {

	display: flex;
	flex-direction: column;
	width: 80%;
	padding-top: 0px;
	padding-bottom: 32px;
}

.exhibits-left-container video {

	width: 100%;

}

.exhibits-left-text {

	padding-top: 32px;
}

.exhibit-title {

	padding-bottom: 24px;
	font-weight: bold;
	font-size: 30px;
}

.exhibit-left-text p {

	font-size: 16px;

}


		/*Right Container*/
		/*SAME ISSUE WITH THE RIGHT CONTAINER 
		LIKE THE INTRODUCTION SECTION*/


.exhibits-right-container {

	margin-left: 24px;
	width: 60%;
	border-left: 1px solid #afafaf;
	padding-top: 0px;
	padding-bottom: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.fisma-box {

	display: flex;
	flex-direction: row;
	padding: 0px 16px 16px 16px;
	height: 150px;
}


.now-then-box {

	display: flex;
	flex-direction: row;
	padding: 16px 16px 16px 16px;
	height: 150px;

}

.fisma-box img {

	width: 30%;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;

}

.fisma-text {

	width: 65%;
}

.now-then-box img {

	width: 30%;
	margin-top: 0px;
	margin-bottom: 0px;
}


.fisma-box:hover,
.now-then-box:hover {

	background-color: gray;
}


/*Footer*/

footer {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 24px;
	padding-top: 16px;
	font-size: 15px;
	height: 80px;
	background-color: #eff2f4;
	border-top: 0.5px solid #afafaf;
}

.footer-terms {

	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 24px;
}

.terms {

	padding-right: 10px;
}



/*Media Query for Mobile Devices*/

	/*Header: Logo Brand and Login*/

@media only screen and (max-width: 470px) , (orientation: portrait) , (min-resolution: 300dpi) {

	html,
	body {

		margin-left: 0px;
		margin-right: 0px;
		overflow-x: hidden;
	}


	/*Header: From Text to ICONS*/

	.header-container {

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 50px;
		width: 100%;
		margin: 16px 24px auto auto;
	}

	.logo-brandname {

		display: none;
	}


	.logo-icon {

		display: flex;
		height: 32px;
		width: auto;

	}

	.campus-icon {

		display: flex;
		height: 32px;
		width: auto;

	}

	.online-icon {

		display: flex;
		height: 32px;
		width: auto;
	}	

	.login-icon {

		display: flex;
		height: 32px;
		width: auto;
	}

	.brandname {

		display: none;
	}


	.header-menu {

		display: none;

	}



	/*Banner: Row to Column*/

	.banner-container {

		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		margin: auto;

	}

	.banner-container img {

		width: 100%;
		height: auto;
		margin-top:0px;
		margin-bottom: 32px;

	}

	.banner-info-container {

		margin: auto;
		width: 100%;
	}

	.banner-head {

		font-size: 32px;
		font-weight: bold;
		margin-left: 16px;
	}

	.banner-p {

		font-size: 15px;
		text-decoration: none;
		width: 20rem;
		text-align: justify-all;
		margin-left: 16px;
	}

	.btn-start {

		font-size: 20px;
		background-color: gray;
		color: white;
		margin: auto;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 90%;
		margin-bottom: 32px;

	}




	/*Introduction: Only the RIGHT container*/

	.intro-container {

		display: flex;
		flex-direction: column;
		margin: auto;

	}


		/*Left Container*/


	.intro-left-container {

		display: none;

	}


	.intro-right-container {

		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex-wrap: wrap;
		border: none;
		margin-left: 16px;
		margin-right: 16px;
		margin-top: 0px;
		padding-top: 0px;
	}

	.orientation-box {

		display: flex;
		flex-direction: column;
		height: auto;
	}


	.our-campus-box {

		display: flex;
		flex-direction: column;
		height: auto;

	}	

	.guest-lecture-box {

		display: flex;
		flex-direction: column;
		height: auto;
	}

	.orientation-box img {

		width: 100%;
		height: 12rem;
		margin-top: 0px;
		margin-bottom: 0px;
		margin: auto;

	}

	.orientation-date {

		width: auto;
	}

	.our-campus-box img {

		width: 100%;
		height: 12rem;
		margin-top: 0px;
		margin-bottom: 0px;
		margin: auto;
	}


	.guest-lecture-box img {

		width: 100%;
		height: 12rem;
		margin-top: 0px;
		margin-bottom: 0px;
		margin: auto;
	}


	.orientation-box:hover,
	.our-campus-box:hover,
	.guest-lecture-box:hover {

		background-color: gray;
	}


	.intro-title {

		font-size: 25px;
		color: #6d6868;
	}

	.intro-details {

		font-size: 15px;
	}


	.orientation-date a, 
	.our-campus-text a,
	.guest-lecture-text a {

		font-size: 15px;

	}






	/*Start Learning: Just Title for each section*/


	#learning-list {

		background-color: #ededed;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 32px 32px 32px 32px;
	}

	.learning-list-header {

		display: flex;
		justify-content: center;
		padding-bottom: 16px;
	}

	.section-title {

		font-size: 25px;
		font-weight: bold;

	}/*same for thesis exhibits title*/

	.learning-list-container {

		display: none;

	}

	.learning-list-icons {

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.software-engineer-ic {

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left:2rem;
		padding-right:4rem;
		background-color: #dbd9d9;
		color: #4e5053;
		font-size: 20px;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0.5rem;
	}

	.software-engineer-ic span {

		text-align: justify;

	}


	.computer-art-ic {

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left:4.3rem;
		padding-right:5.3rem;
		background-color: #dbd9d9;
		color: #4e5053;
		font-size: 20px;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0.5rem;
	}

	.computer-art-ic span {

		text-align: justify;

	}


	.design-ic {

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left:5.2rem;
		padding-right:7.2rem;
		background-color: #dbd9d9;
		color: #4e5053;
		font-size: 20px;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0.5rem;
	}

	.design-ic span {

		text-align: justify;

	}


	.data-ic {

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left:5.8rem;
		padding-right:7.8rem;
		background-color: #dbd9d9;
		color: #4e5053;
		font-size: 20px;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0.5rem;
	}

	.data-ic span {

		text-align: justify;

	}



	.business-ic {

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left:5rem;
		padding-right:6.6rem;
		background-color: #dbd9d9;
		color: #4e5053;
		font-size: 20px;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0.5rem;
	}

	.business-ic span {

		text-align: justify;

	}



	.marketing-ic {

		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left:5rem;
		padding-right:6rem;
		background-color: #dbd9d9;
		color: #4e5053;
		font-size: 20px;
		display: flex;
		justify-content: flex-start;
	}

	.marketing-ic span {

		text-align: justify;

	}


	/*Thesis Exhibits: VIDEO ONLY*/


	.exhibits-right-container {

		display: none;
	}

	.exhibits-left-container {

		margin-left: 25px;
	}

	.exhibits-left-text {

		display: none;
	}

	/*footer: COPYRIGHT ONLY*/


	.footer-terms {

		display: none;
	}






}

